{% extends "header.html" %}

{% block content %}
<br>
<div class="container">
<h1>Buyers List</h1>
</div>
<br>

<div class="container">
{% if searched %}

{% for buyer in buyers %}
<div class="card">
    <div class="card-header">
        <strong>{{ buyer.buyer_name }}</strong>
    </div>
    <div class="card-body">
      <p class="card-text">
        <ul>
            <li>Buyer Number: {{ buyer.buyer_number }}</li>
            <li>Business Number: : {{ buyer.business_number }}</li>
            <li>Country: {{ buyer.buyer_country }}</li>
            </ul>
            <br>
            <a href="{% url 'order_DB' buyer.buyer_country buyer.business_number %}" target="_blank">
              <button type="button" class="btn btn-dark" action="/scrap">Illion - Log In</button>
       
          
            {% if  buyer.buyer_country  == "Australia" %}
          
            <a href="https://connectonline.asic.gov.au/RegistrySearch/faces/landing/panelSearch.jspx?searchTab=search&searchText={{ buyer.business_number }}&searchType=OrgAndBusNm&_adf.ctrl-state=1584jxrxz_70" target="_blank">
                <button type="button" class="btn btn-dark" >ASIC</button>
            </a>
          {% else %}
            <a href="https://app.companiesoffice.govt.nz/companies/app/ui/pages/companies/{{ buyer.business_number }}?backurl=H4sIAAAAAAAAAC2LMQrDMBAEf6PWGEyMiyOkSuMiYH9g0R2JIT4pulPAv48w6XaG2S7jKdbFtGfo1pYJSnxd98RC5lBG4eBHFhL1zVsSPjSOQz9MlwD%2BQqPwAypv8lIlnNWxtoPRbZ7%2FvDi82r2kmk%2F9A0wC2I53AAAA" target="_blank">
              <button type="button" class="btn btn-dark" >NZ Companies</button>
          </a>
          {% endif %}
            
      </p>
    
    </div>
  </div>

{% endfor %}

{% else %}

{% for buyer in buyer_list %}

<div class="card">
    <div class="card-header">
        <strong>{{ buyer.buyer_name }}</strong>
    </div>
    <div class="card-body">
      <p class="card-text">
        <ul>
            <li>Buyer Number: {{ buyer.buyer_number }}</li>
            <li>Business Number: : {{ buyer.business_number }}</li>
            <li>Country: {{ buyer.buyer_country }}</li>
            </ul>
            <br>
            <a href="https://illiondirect.com.au/Integate/Search.mvc?upid=6383369150462386171456524848&search={{ buyer.business_number }}&initialCountry=AUS&method=Commercial%20Search" target="_blank">
              <button type="button" class="btn btn-dark" >Illion - Late Payment Report</button>
          </a>
          <a href="https://illiondirect.com.au/Integate/Search.mvc?upid=6383369150462386171456524848&search={{ buyer.business_number }}&initialCountry=AUS&method=Commercial%20Search" target="_blank">
            <button type="button" class="btn btn-dark" >Illion - D&B Report</button>
        </a>
          {% if  buyer.buyer_country  == "Australia" %}
          
            <a href="https://connectonline.asic.gov.au/RegistrySearch/faces/landing/panelSearch.jspx?searchTab=search&searchText={{ buyer.business_number }}&searchType=OrgAndBusNm&_adf.ctrl-state=1584jxrxz_70" target="_blank">
                <button type="button" class="btn btn-dark" >ASIC</button>
            </a>
          {% else %}
            <a href="https://app.companiesoffice.govt.nz/companies/app/ui/pages/companies/{{ buyer.business_number }}?backurl=H4sIAAAAAAAAAC2LMQrDMBAEf6PWGEyMiyOkSuMiYH9g0R2JIT4pulPAv48w6XaG2S7jKdbFtGfo1pYJSnxd98RC5lBG4eBHFhL1zVsSPjSOQz9MlwD%2BQqPwAypv8lIlnNWxtoPRbZ7%2FvDi82r2kmk%2F9A0wC2I53AAAA" target="_blank">
              <button type="button" class="btn btn-dark" >NZ Companies</button>
          </a>
          {% endif %}
      </p>
    
    </div>
  </div>


{% endfor %}

</div>

{% endif %}





{% endblock %}   

