{% extends "header.html" %}

{% block content %}

    {% csrf_token %}
    <div class="container script">
        <div> 
            <h1>Script Text:</h1>
            <div id="da_script">  
                {{ da_script|linebreaks }}
            </div>
            
        </div>
        <html>
            <body>
                <button class="btn btn-dark" onclick="CopyText()">Copy Text</button>
                
            </body>
            </html>
    </div>
    {% block scripts %}
    <script>
      function CopyText() {
        var text = document.getElementById("da_script");
        navigator.clipboard.writeText(text.innerText);
        console.log(text.innerText)
    }
    </script>
    {% endblock scripts %}
    

{% endblock %}